@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main{max-width: 100%;background-color: #171718; background-image: url("../img/AdobeStock_407934771.jpeg");background-size: cover;background-repeat: no-repeat;}
main section{ text-align: center;padding: 50px 0 ;}

main section article{max-width: 920px;margin: 50px auto;color: white;}
.coracao{animation:coracao 1s 1s infinite normal none;}
main section article h1{font-size: 2rem;margin: 15px 0;}
main section article h2{font-size: 1rem;margin: 25px 0;line-height: 1.6rem;}

span {display: block;margin: 45px auto;background-color: #ea756000;color: rgb(173, 157, 157);text-align: center;}
main section article span h3{font: 600 normal 1.3rem arial;margin: 25px 0;color: white;}

button{border-radius: 10px;border: none; box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);padding: 25px 20px; background-color: #ea75608f;color: white;font: 600 normal 1.3rem arial;cursor: pointer;}

button:hover{background-color: #ea7560;transition: background-color 0.5s  background-color ;
}

@keyframes coracao{
    0% {
        transform:  scale(1.15);
    }
    100% {
    }
}


.container{max-width: 1920px;margin: auto;}

a{color: white;text-decoration: none;}

main{position: relative;}

footer{text-align: center;background-color: #201f1f00;}
footer section{color: white;padding: 25px;}
footer section a{color: #ffffff; font-weight: 700;}